<main class="container">
    <h2 class="page-title">{{post.title}}</h2>
    <div class="post-info">
        <p>Posted on: {{formatDate post.createdAt}}</p>
        <p>Author: {{post.user.username}}</p>
    </div>
    <p class="content">{{post.content}}</p>
    <div class="divider"></div>
    <section class="section">
        <h3>Comments</h3>
        {{#if user}}
        <form action="/dashboard/addComment/{{post.id}}" method="post" class="comment-form">
            <div class="formgroup">
                <textarea name="comment" placeholder="Enter your comment" id="" cols="30" rows="3"></textarea>

            </div>
            <button type="submit" class="submit-btn">Comment</button>
        </form>
        {{/if}}

        {{#if post.comments}}
        {{#each post.comments}}
        {{> commentCard this}}
        {{/each}}
        {{/if}}
    </section>
</main>